.btn-outline-danger,.btn
{ 
	color: white;
	border: solid 4px black;
	margin-bottom: 15px;
}
.centre
{
    margin: 0, auto;
}

/*Mark Benjamins*/
.tekstkleur
{
	color: white;
}
.btn-outline-danger,.btn
{ 
	color: white;
	border: solid 4px black;
	margin-bottom: 15px;
}
/* end css by Mark Benjamins*/