#Container {
    
}
.Image1pers {
    height:75%;
    width:75%;
    display:block;
    margin:auto;
}
.1persP {
    
}
#DivKamers {
    width:95%;
    height:100%;
    border: 1px solid black;
}
#DivForeachKamers {
    width:25%;
    height:20px;
}


.kamer {
    border: 1px solid black;
}