	/*Door Mark Benjamins */
/*Start Reserveringssysteem home-page*/

#res-home{
	color: white;	
	height: 400x;
	padding: 10px;
}
.btn-outline-danger,.btn{ 
	color: white;
	border: solid 4px black;
	margin-bottom: 15px;
}
/*End Reserveringssysteem home-page*/