/* Background */
body
{
	background-image: url(../img/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-color: grey;
	min-width: 360px;
}
/* Main */
#main
{
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	margin: 0 auto auto auto;
	border-radius: 15px;
	padding: 1px;
}
/* header */
#logo
{
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1337;
	padding-top: 10px;
}
ul,li
{
	list-style-type: none;
}
div > #header, div > #footer, div > #content
{
	background-image: linear-gradient(to bottom, #6E2C2E, #884F4C); /*huisstijl rood*/
	border: 4px solid black;
	margin: 15px;
}

/* Text */
h1
{
	font-size: 72px;
	padding-bottom: 15px;
	text-align: center;
}
h2, .text
{
	padding: 20px;
	text-align: center;
}
h1, h2, #geel
{
	color: #fcbd06; /*Huisstyle geel*/
}
li
{
	border: 4px solid black;
}
li:hover > a
{
	text-decoration: none;
	color: #dc3545; /*kleur Rood*/
}
.header-text 
{
	font-size: 50px;
}

.text, a, label
{
	color: white;
}

/*Mark Benjamins*/
/*Opmaak update*/
.nav, .nav-pills, .nav-justified
{
	padding-top: 30px;
	padding-bottom: 15px;
}
#footer
{
	padding-top: 10px;
}

#zwart{
    color: #000000;
}

@media only screen and (max-width: 991px) {
	.h1 {
		font-size: 32px;
	}
  }
form, .form{
	text-align: center;
}
/*Mark Benjamins*/
/*kleur voor de error melding*/	
	#melding
	{
		color: white;
	}
.sneakylink{
	color: #212529 ;
}