/* Background */
body{
background-image: url(../img/bg.jpg);
background-attachment: fixed;
background-size: cover;
background-color: grey;
}
/* Main */
#main{
	height: 800px;
	background: rgba(0, 0, 0, 0.75);
	margin: 0 auto auto auto;
	border-radius: 15px;
	padding: 1px;
}
/* header */
#header{
	height: 160px;
}
#logo{
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;"
}
ul{
	list-style-type: none;
}
div > #header, div > #footer{
	background-image: linear-gradient(to bottom, #6E2C2E, #884F4C);
	border: 4px solid black;
	margin: 15px;
}
/* Text */
h1{
	
}