/* Background */
body{
	background-image: url(../img/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-color: grey;
	min-width: 360px;
}
/* Main */
#main{
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	margin: 0 auto auto auto;
	border-radius: 15px;
	padding: 1px;
}
/* header */
#logo{
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1337;
	padding-top: 10px;
}

ul,li{
	list-style-type: none;
}
div > #header, div > #footer, div > #content{
	background-image: linear-gradient(to bottom, #6E2C2E, #884F4C);
	border: 4px solid black;
	margin: 15px;
}

/* Text */
h1{
	font-size: 72px;
	padding-bottom: 15px;
}
li{
	border: 4px solid black;
}
li:hover > a {
	text-decoration: none;
	color: #dc3545;
}
.header-text {
	font-size: 50px;
}
h2, .text{
	padding: 20px;
	text-align: center;
}
.text{
	color: white;
}
h2{
	color: #fcbd06;
}

/*Mark Benjamins*/
/*Opmaak update*/
.nav, .nav-pills, .nav-justified{
	padding-top: 30px;
	padding-bottom: 15px;
}
a {
	color: white;
}
#footer{
	padding-top: 10px;
}
h1, #geel{
	color: #fcbd06;
	padding-left: 15px
}
h1, #zwart{
        color: black
}